<!DOCTYPE html>
<html lang="ko">

    <head>
        <title> 로그인 페이지 </title>
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=2">
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
        <link rel="stylesheet" href="/public/css/slick.css">
        <link rel="stylesheet" href="/public/css/animate.css">
        <link rel="stylesheet" href="/public/css/common.css">
        <link rel="stylesheet" href="/public/css/mypage.css">
        <link rel="stylesheet" href="/public/css/rwd.css">
        <script src="/public/js/jquery-1.12.4.min.js"></script>
        <script src="/public/js/jquery-migrate-1.4.1.min.js"></script>
        <script src="/public/js/slick.min.js"></script>

        <!--[if lte IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/prefixfree.min.js"></script>
    <![endif]-->
    </head>

    <body>
            <header id="header" class="">
                <div class="header_area row cf">
                    <h1><a href="/newpage">Tourist in tour</a></h1>
                    <p class="openMOgnb">
                        <a href="#none">
                            <strong class="blind">메뉴열기</strong>
                            <span></span>
                            <span></span>
                            <span></span>
                        </a>
                    </p>
                    <div class="header_cont">
                        <ul class="util">
                            <li></li>
                        </ul>
                        <nav>
                            <ul class="depth1"> 
                                <li><a href="#" class="openAll1">여행정보</a>
                                    <div class="dep2box">
                                    <ul class="depth2 row">
                                        <li><a href="#">국내</a></li>
                                        <li><a href="#">해외</a></li>
                                    </ul>
                                </div>
                                </li>
                                <li><a href="#" class="openAll2">고객센터</a>
                                    <div class="dep2box">
                                    <ul class="depth2 row">
                                        <li><a href="/list">공지사항</a></li>
                                        <li><a href="/write">문의하기</a></li>
                                    </ul>
                                </div>
                                </li>
                                <li><a href="/install" class="openAll3">상품투어</a>
                                    <div class="dep2box">
                                    <ul class="depth2 row">
                                        <li><a href="program.html">프로그램 소개</a></li>
                                        <li><a href="#">여행자료</a></li>
                                    </ul>
                                </div>
                                </li>
                                <li><a href="#" class="openAll4">티켓/가이드</a>
                                    <div class="dep2box">
                                    <ul class="depth2 row">
                                        <li><a href="#">항공</a></li>
                                        <li><a href="#">호텔</a></li>
                                    </ul>
                                    </div>
                                </li>
                            </ul>
                        </nav>
                        <p class="closeMOgnb">
                            <a href="#none">
                                <strong class="blind">메뉴닫기</strong>
                                <span></span>
                                <span></span>
                            </a>
                        </p>
                    </div>
                </div>
            </header>
<!-- wrap -->
<div id="container">
    <div class="location_area member">
        <div class="box_inner">
            <h2 class="tit_page">TOURIST <span class="in">in</span> TOUR</h2>
            <p class="location">MYPAGE <span class="path">/</span>  내 정보</p>
            <ul class="page_menu clear">
                <li><a href="#" class="on">개인 정보 수정</a></li>
            </ul>
        </div>
    </div>
    <div class="bodytext_area box_inner">
        <dl class="myinfo">
            <dt>내 정보</dt>
            <dd>
                <form action="#" class="regForm">
                    <fieldset>
                        <legend>내정보 입력 양식</legend>
                        <ul class="reg_list">
                            <li class="clear">
                                <span class="tit_lbl">이름</span>
                                <div class="reg_content"><%= user.id %></div>
                            </li>
                            <li class="clear">
                                <span class="tit_lbl">생년월일</span>
                                <div class="reg_content"><%= user.born %></div>
                            </li>
                            <li class="clear">
                                <span class="tit_lbl">성별</span>
                                <div class="reg_content radio_area"><%= user.sex %></div>
                            </li>
                            <li class="clear">
                                <span class="tit_lbl">주소</span>
                                <div class="reg_content"><%= user.address %></div>
                            </li>
                            <li class="clear">
                                <span class="tit_lbl">핸드폰</span>
                                <div class="reg_content"><%= user.number %></div>
                            </li>
                            <li class="clear">
                                <span class="tit_lbl">SMS 수신동의</span>
<<<<<<< HEAD
                                <div class="reg_content radio_area"><%= user.smsyesno %></div>
=======
                                <div class="reg_content radio_area"><%= user.smsyes_lbl %></div>
>>>>>>> e9d6ad8d33f5d9517454f7042cc7a4d13c8c6d24
                            </li>
                            <li class="clear">
                                <span class="tit_lbl">이메일</span>
                                <div class="reg_content"><%= user.email %>&nbsp;@&nbsp;<%=user.email_b%></div>
                            </li>
                            <li class="clear">
                                <span class="tit_lbl">이메일 수신동의</span>
<<<<<<< HEAD
                                <div class="reg_content radio_area"><%= user.emailyesno %> </div>
=======
                                <div class="reg_content radio_area"><%= user.emailyes_lbl %> </div>
>>>>>>> e9d6ad8d33f5d9517454f7042cc7a4d13c8c6d24
                            </li>
                        </ul>
                        <div id="but">    
                            <span class="btn_line"><a href="/login" class="btn_baseColor" >로그아웃</a></span>
                            <span class="btn_line"><a href="/editmypage" class="btn_baseColor" >개인정보수정</a></span>
                        </div>
                    </fieldset>
                </form>
            </dd>
        </dl>
    </div>
</div>
   <!-- //container -->

    <footer>
        <div class="foot_area row">
            <ul class="foot_list">
                <li><a href="javascript:;">이용약관</a></li>
                <li><a href="javascript:;">개인정보취급방침</a></li>
            </ul>
            <h2>투어리스트인투어</h2>
            <p class="addr">서울특별시 종로구 혜화동 9길 청운빌딩 5층 <span class="gubun">/</span>
                <span class="br_line">대표전화 <span class="space0">02-1234-5678</span> <span class="gubun">/</span>
                    <span class="br_line">E-mail : <span class="space0"> titour@touristintour.com</span></span>
                </span>
            </p>
            <p class="copy">Copyright(c) TouristInTour all right reserved</p>
            <ul class="snslink">
                <li><a href="javascript:;">blog</a></li>
                <li><a href="javascript:;">facebook</a></li>
                <li><a href="javascript:;">instargram</a></li>
            </ul>
        </div>
    </footer>

</div>
<!-- //wrap -->
        <script src="/public/js/myscript.js"></script>
    </body>

</html>